* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.root {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 900px;
  height: 60vh;
  border: 1px white solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
  -webkit-box-shadow: 0px 8px 9px 3px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 8px 9px 3px rgba(0, 0, 0, 0.36);
}

#logo {
  margin-left: 10%;
  margin-top: 35px;
}

#logo-img {
  width: 130px;
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

#question-container {
  color: white;
  font-size: 40px;
  margin-inline: 10%;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#answer-box {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px 20px;
}

#answer-box input {
  flex-grow: 1;
}

.intercations {
  display: flex;
  flex-direction: column;
}

.nxt-btn-container {
  display: flex;
  justify-content: center;
}

#next-button {
  color: black;
  background-color: #00ffff;
  border: none;
  font-weight: 600;
  padding-inline: 60px;
  padding-block: 12px;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

#next-button:hover {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 255, 255, 0.62);
  box-shadow: 0px 0px 25px 5px rgba(0, 255, 255, 0.62);
}

.counter-container {
  display: flex;
  justify-content: center;
}

#counter {
  color: white;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  margin-top: 50px;
}

#counter span {
  color: #d20094;
}

/*answer button transformation */
.answer-btn {
  float: left;
  width: 250px;
  height: 50px;
  position: relative;
  border: 5px white solid;
  border-radius: 50px;
  overflow: hidden;
}

.answer-btn label,
.answer-btn input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  font-weight: 700;
}

.answer-btn input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
  border: 0;
  width: 100%;
  height: 4em;
}

.answer-btn input[type="radio"]:checked + label {
  background: #d20094;
}

.answer-btn label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}

/*------FINAL SCORE-----*/
#result {
  color: white;
  font-size: 60px;
  font-weight: 700;
}
