* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  padding-inline: 10%;
  padding-top: 3%;
}

#logo-img {
  width: 180px;
}

h1 {
  color: #fff;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  margin-top: 5%;
  text-align: center;
}
