* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.root {
  background-image: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  max-width: 900px;
  height: 60vh;
  border: 1px white solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  gap: 35px;
  -webkit-box-shadow: 0px 8px 9px 3px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 8px 9px 3px rgba(0, 0, 0, 0.36);
}

#logo {
  margin-left: 10%;
  margin-top: 35px;
}

#logo-img {
  width: 130px;
}

#question-container {
  color: white;
  font-size: 40px;
  margin-inline: 10%;
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer-box {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 40vh;
  gap: 20px;
}

#answer-box input {
  flex-grow: 1;
}

.nxt-btn-container {
display: flex;
justify-content: center;
position: fixed;
bottom: 35vh;
left: 50vh;
}

#next-button {
  color: black;
  background-color: #00ffff;
  border: none;
  font-weight: 600;
  padding-inline: 45px;
  padding-block: 12px;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

#next-button:hover {
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 255, 255, 0.62);
  box-shadow: 0px 0px 25px 5px rgba(0, 255, 255, 0.62);
}

.counter-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 30vh;
  left: 50.5vh;
}

#counter {
  color: white;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}

#counter span {
  color: #d20094;
}